<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <header>
        <div class="logo">
          <img class="logo_marca" src="/static/images/Logo Moderno Arquitectura Marron Moderno.png">
        </div>
    </header>
    <main>
      <div id="buscar" class="formulario">
        <form method = 'POST' action="{{url_for('total_alquileres')}}">
        <!--<label for="nom_provincia">Ingrese Provincia</label>
          <input type="text" name="nom_provincia"><br/> -->
          <label for="nom_provincia">Selecciona una provincia</label><br>
          <select class="select" name="nom_provincia" id="nom_provincia">
            <option value="Buenos Aires">Buenos Aires</option>
            <option value="Ciudad Autonoma de Buenos Aires"> Ciudad Autónoma Buenos Aires</option>
            <option value="Catamarca">Catamarca</option>
            <option value="Chaco">Chaco</option>
            <option value="Chubut">Chubut</option>
            <option value="Cordoba">Córdoba</option>
            <option value="Corrientes">Corrientes</option>
            <option value="Entre Rios">Entre Ríos</option>
            <option value="Formosa">Formosa</option>
            <option value="Jujuy">Jujuy</option>
            <option value="La Pampa">La Pampa</option>
            <option value="La Rioja">La Rioja</option>
            <option value="Mendoza">Mendoza</option>
            <option value="Misiones">Misiones</option>
            <option value="Neuquen">Neuquén</option>
            <option value="Rio Negro">Río Negro</option>
            <option value="Salta">Salta</option>
            <option value="San Juan">San Juan</option>
            <option value="San Luis">San Luis</option>
            <option value="Samta Cruz">Santa Cruz</option>
            <option value="Santa Fe">Santa Fé</option>
            <option value="Santiago del Estero">Santiago del Estero</option>
            <option value="Tierra del Fuego">Tierra del Fuego</option>
            <option value="Tucuman">Tucumán</option>
          </select><br/>
          <input class="boton_formulario" type="submit" value="Buscar" />
        </form>
      </div>
    </main>
  </body>
  <footer>Leandro Hernan Ibarra - <img class="logo" src="/static/images/25231.png"> /lhibarra </footer>
</html>